@import url("./keyframes/romatiek.css");
@import url("./keyframes/adventure.css");
@import url("./keyframes/detective.css");
@import url("./keyframes/thriller.css");
@import url("./keyframes/oorlog.css");
@import url("./keyframes/humor.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    width: 100vw;
    height: 100vh;
}

svg{
    width: 120px;
}
g.svg-border>path,
.svg-border{
    fill: white;
}
g.svg-inner > path,
.svg-inner{
    fill: transparent;
}
path{
    fill:rgba(255,255,255,.75);
}
.centering-v-h{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-genre.Avontuur{
    background: lightblue;
}
.container-genre.Romantiek{
    background: red;
}
.container-genre.Detective{
    background:brown;
}
.container-genre.Thriller{
    background:black;
}
.container-genre.Oorlog{
    background:#EE6203;
}
.container-genre.Humor{
    background:#FDFF76;
}
 
.container{
    width: 700px;
    /* height: 500px; */
}
.genrePage{
    width: 1000px;
}

.genres.genrePage{
    height: 500px;
    /* background: orange; */
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.tops{
    margin: 0 50px;
    margin-right: 720px;
    display: flex;
    align-items: center;
}
.tops-wrapper{
    overflow-x: scroll;
    display: flex;
    /* justify-content: space-around; */
    /* background: purple; */
    /* align-items: center; */
    max-width: 100%;
    /* padding-left: 50px; */
    height: 270px;
    position: relative;
}
.tops-wrapper::-webkit-scrollbar {
    width: 10px;
}
i{
    color: white;
    position: sticky;
    font-size: 40px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: .25s;
    padding: 0 10px;
    z-index: 100;
}
i:hover{
    background: rgba(255,255,255,.5);

}
i:first-of-type{
    left: 0;
    border-radius: 20px 0 0 20px; 
}
i:last-of-type{
    right: 0;
    border-radius: 0 20px 20px 0; 
}
img{
    transition: .5s;
    margin:0 20px;
    height: 180px;
    width: 130px;
    opacity: .2;
}
#datum{
    width: 200px;
    padding: 5px;
}
.highlighted{
    transition: .5s;
    opacity: 1;
    transform: scale(1.3);
}
.highlighted img{
    box-shadow: 0px 0px 25px 0px rgba(255,255,255,.8);
    opacity: 1;
}
.genres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a{
    width: 33%;
    margin: 20px 0;
    outline: none;
    color: black;
}

.container-genre{
    width: 170px;
    height: 180px;
    background: rgba(255,255,255,.5);
    border-radius: 10px;
    border: white 2px solid;
    border-bottom: 10px solid white;
    position: relative;
    cursor: pointer;
    transition: 1s;
}
.container-genre:hover > .genre-name{
    height: 20px;
}
.container-genre:hover{
    transform: scale(1.1);
}
.genre-name{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    text-align: center;
    height: 0;
    transition: .2s;
    overflow: hidden;
}
h1#landing{
  /* text-align: center; */
  color: white;
  font-size: 40px;
  font-weight: 400; 
  margin-bottom: 20px; 
}
h1#landing span{
    background: rgba(255,255,255,.9);
    padding: 5px 8px;
    color:black;
    transition: .5s;
    border-radius: 3px;
}
h1#landing span.hoverh1{
    font-weight: 800;
    background: white;
}